.alumni-container {
    padding: 70px calc(100vh * .2) 0 calc(100vh * .2);
    background-color: rgba(37, 37, 37, .1);
    height: 100vh;
}

.alum-header {
    background-color: #d64646;
    padding: 20px 40px;
}

.alumni-header-content {
    color: white;
}

.alum-img-container {
    height: 40px;
}

.alum-img-container img {
    height: 100%;
}

.alum-display-content {
    max-height: 500px;
    overflow: auto;
    margin-top: 40px;
}

.alum-table thead {
    background-color: #252525;
    color: white;
}

.alum-table td , .alum-table th{
    border-bottom: 1px solid #d64646;
}